page-login {

    @media screen and (max-width: 414px){
        
    .container{
        background: linear-gradient(#010e1fea,#010e1f),
        url('../../assets/imgs/BG.jpg')
        ;
        background-position: bottom;
        // background-size:cover;
        
    }
    .everything{
        // border: 2px solid red;
        padding-top: 50%;
        transform: translateY(-5%);
        // background: green;
        height: 100%;
        z-index: -1;
        max-width:550;
    }
    img{
        height: 100px;
    }
    .logo{
        // margin-bottom: 30px;
        text-align: center;
       
    }
    .items{
        // background: white;
        width: 95%;
        margin: 0 auto;
        border-radius: 10px;
        max-width:550;
        // box-shadow: 0 2px 5px grey;
        color: white;
    }
    .signUp{
        margin-top: 80px;
        position: absolute;
        
    }
    ion-list{
        max-width:550;
    }
    ion-input{
        background: rgba(0, 0, 0, 0);
        border-bottom: 1px solid #fab335;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        transition: 300ms;
    }
    ion-input:active{
        background: rgba(0, 0, 0, 0);
        border-bottom: 1px solid white;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .textFields{
        width: 90%;
        max-width: 450px;
        // border: 2px solid red;
        margin: 0 auto;
        
    }
    #button{
        width: 90%;
        max-width: 450px;
        margin: 0 auto;
        height: 30px;
        color: #323787;
        text-transform: capitalize;
    }
    .forgot{
        color:#fab335;
    }
    p{
        text-align: center;
        color: white
    }
    }
}

