page-login {
    
    div.scroll-content{
        // rgb(113,54,79)
        // margin-top: 10%;
        background: linear-gradient(rgba(0, 78, 66, 0.267),rgb(0,78,66) );
        // rgb(111,238,221)
        padding: 5%;
    }
        .logo{
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            img{
                height: 25vh;
            }
            p{
                font-size: 110%;
                font-family: sans-serif;
                text-shadow: 0 0 2px white;
                color: white;
            }
        }
        .items{
            position: fixed;
            background-color: white;
        padding-top: 5%;
        box-shadow: 0 0 2px rgb(0,78,66);
        border-radius: 15px;
        width: 90vw;
        ion-item{
            background-color: white;
        border-radius: 10px;
        }
        ion-input{
            color: rgb(0,78,66);
        }
        ion-icon{
            color: black;
        }
        p{
            color: rgb(0,78,66);
            text-align: center;
            text-decoration: underline;
        }
        }
        #button{
            box-shadow: 0 0 2px rgb(42,165,153);
            // background-color: rgb(42,165,153);
            font-size: 120%;
            font-weight: bolder;
        }
    ion-footer{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 8vh;
        box-shadow: 0 0 3px rgb(0,78,66);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        p{
            text-align: center;
            color: rgb(0,78,66);
            font-weight: bolder;
                font-size: 170%;
            
        }
    }
}
