page-forgot-password {
    .theForm{
        width: 100%;
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
        padding-top: 50%;

    }
    .contents{
        background: white;
        box-shadow: inset 0 0px 15px grey;
        padding: 10px;
        border-radius: 5px
    }
    .theTXT{
        border: 1px solid grey;
        border-radius: 5px
    }
}
