page-category {
    // ion-content{
    //     // background: red;
    // }
    .details{
        margin: 0 auto;
        width: 49vw;
        background: white;
        height: 50px;
        margin-top: -4%;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0 5px 10px grey;
        z-index: 1;
        // margin: 0 auto;
    }
    // .theImg{
    //     height: 29vh;
    //     width: 53vw;
    //     padding-left: 2px;
    //     padding-right: 2px;
    //     object-fit: center;
      
    //   }
    img{
        height: 29vh;
        width: 53vw;
        padding-left: 2px;
        padding-right: 2px;
        margin-top:5px;
        object-fit: cover;
        z-index: 1;
        // box-shadow: 0 -2px 5px grey;
      
    }
    .shift{
        height: 5px;
    }
    .col{
        // text-align: center;
        
    }
    #gotoTop{
        width: 30px;
        height: 30px;
        border-radius: 40px;
    }
    ion-grid{
        margin: 0%;
        padding: 0%;
        width: 100%;
        max-width: 550px;
    }
    ion-row{
        margin: 0%;
        padding: 5px;
    }
    ion-col{
        margin: 0%;
        // border: 2px solid green;
    }
    #images{
        height: 29vh;
        max-height: 300px;
        width: 53vw;
        padding-left: 2px;
        padding-right: 2px;
        // box-shadow: 0 0 4px grey;
        object-fit: cover;
    }
    .person{
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
    .CatBar{
        padding-right: 10px;
        // border-radius:100px;
        width: 100%;
        // opacity:0.6;
    }
    #start{
        transition: 700ms;
           
    }
    a{
        text-decoration: none;
        font-size: 20px;
        padding-top: 5px;
    }
    .dp{
        height: 35px;
        width: 35px;
        border-radius:35px;
    }
}
    ion-textarea{
        border-top: 1px solid rgb(0,78,66);
        background: white;
        padding: 10px;
        }
    .texts{
        background: white;
    }
    .container{
        background: linear-gradient(rgba(0, 0, 0, 0),rgb(48, 44, 44));
    }
    .uploaded{
        width: 150px;
        height:  150px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.596);
    }
    
    .inp{
        opacity: 1;
        width: 30px;
    }
    .inpe{
        display: none;
    }
    @media screen and (min-width: 350px){
           @media screen and (max-width: 380px){
 
                .preview{
                   
                    width: 150px;
                    height:  150px;
                    margin: 0 auto;
                    position: relative;
                    
                }
                .buttoon{
                    font-size: 20px;
                    position: absolute;
                    background: white;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    border-radius: 50px;
                    // margin-top: -35px;
                    top:29%;
                    left: 60%;
                    z-index: 1;
                    transform: translateY(-30%);
                    color:white;
                    box-shadow: 0px 1px 5px black;
                    transition: 300ms
                }
                .buttoon:active{
                    font-size: 20px;
                    position: absolute;
                    background: white;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    border-radius: 50px;
                    // margin-top: -35px;
                    top:29%;
                    left: 60%;
                    z-index: 1;
                    transform: translateY(-30%);
                    color:white;
                    box-shadow: 0px 1px 5px black;
                }
                #ico{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%)
                }
        }
    }
    @media screen and (min-width: 300px){
        @media screen and (max-width: 349px){
        }
    }
