page-category {
    div.scroll-content{
        // background: linear-gradient(rgb(121, 199, 178) ,rgb(93, 155, 139) ); 
    }
ion-header{
    button{
        width: 15vw;
    }
}
    .head{
        ion-item{
            border-radius: 10px;
            width: 82vw;
        }
        ion-label{
            color:white ;
        }

    }
    #btns{
        margin: 0%;
        button{
            margin: 0%;
            padding: 0%;
        }
    }
    ion-grid{
        margin: 0%;
    }
    ion-row{
        margin: 0%;
    }
    ion-col{
        width: 45vw;
        margin: 0%;
        box-shadow: 0 0 1px rgb(34, 32, 32);
        border-radius: 5px;
        ion-item{
            margin: 0%;
            padding: 0%;
            box-shadow: 0 0 1px white;
        }
    }
    img{
     border-radius: 5px;       
    }
    .btnFab{
        box-shadow: 0 6px 12px rgb(56, 56, 56);
    }
    .list{
        margin: 0%;
            padding: 0%;
        li{
            // color: rgb(42,165,153);
            list-style: none;
            display: inline;
            // font-size: 90%;
        }
    }

    .iconLike{
        color: rgb(0, 110, 255);
        font-size: 140%;
    }
    .iconCMT{
        font-size: 140%;
        color: rgb(0,78,66);
    }
}
