page-category {
    div.scroll-content{
        // background: linear-gradient(rgb(121, 199, 178) ,rgb(93, 155, 139) ); 
    }
ion-header{
    button{
        width: 15vw;
    }
}
    .head{
        ion-item{
            border-radius: 10px;
            width: 82vw;
        }
        ion-label{
            color:white ;
        }

    }
    #btn{
        // background-color: aqua;
    }
    #icon{
        color: aqua;
    }
    ion-grid{
        margin: 0%;
    }
    ion-row{
        margin: 0%;
    }
    ion-col{
        margin: 0%;
        ion-item{
            box-shadow: 0 0 1px white;
        }
    }
    img{
     border-radius: 5px;       
    }
    .btnFab{
        box-shadow: 0 6px 12px rgb(56, 56, 56);
    }
}
