page-edit-profile {
    #in{   
        width: 100%; 
        height: 100%;                
    }
    .inpe{
        display: none;
    }
    #ico{
        font-size: 25vh
    }
    .buttoon{
        font-size: 20px;
        position: absolute;
        background: rgba(42, 165, 153, 0);
        opacity: 0;
        height: 25vh;
        width: 25vh;
        text-align: center;
      
        top:0%;
        left: 50%;
        z-index: 1;
        transform: translateY(-30%);
        transform: translateX(-50%);
        color:white;
        box-shadow: 0px 1px 5px black;
        transition: 300ms
    }
    div.scroll-content{
        padding: 0%;
        margin: 0%;
        background: linear-gradient(rgb(42,165,153),rgb(0,78,66))
    }
    #mark{
        font-size: 240%;
        color: white;
    }
    .card-background-page {
        ion-card {
            background-color: transparent;
          position: relative;
          text-align: center;
          width: 92vw;
          border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        }
      #pic{
          height: 40vh;
          filter: blur(6px);
         
      }
    //   #file{
    //       margin: 0%;
    //       font-size: 30%;
    //       text-align: right;
    //       background-color: rgb(24, 75, 66);
    //       width: 45vw;
    //       border-top-left-radius: 30px;
    //     border-top-right-radius: 30px;
    //     border-bottom-left-radius: 30px;
    //     border-bottom-right-radius: 30px;
    //     box-shadow: 0 0 1px black;
    //   }
        .card-title {
            border: none;
          position: absolute;
          top: 8vh;
          left:23vw;
          font-size: 2.0em;
          width: 45vw;
          font-weight: bold;
          color: #fff;
        img{
            box-shadow: 0 0 1px white;
            height: 25vh;
            width: 25vh;
           background-image: url('../../assets/imgs/person-icon.jpg');
           background-size: cover;
        }
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
    .content{
        position: absolute;
        padding:10%;
    }
    .item{
        margin: 2%;
        // box-shadow: 0 0 1px black;
        width: 78.5vw;
        height: 2vh;
        background-color: rgb(24, 75, 66);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    ion-icon{
        color: rgb(152, 204, 196);
    }
    input{
        margin: 0%;
    color: rgb(252, 252, 252);
    // box-shadow: 0 0 1px white;
    }
}