page-profile{
.threeButton{
    font-size: 25px;
}
.head{
    background: rgb(1,17,39);
    color: white;
}
.DP{
    width: 100px;
    border-radius: 500px;
    float: right;
}
p{
    font-size:12px;
}
.bio{
    // background: red;
    border: 2px solid red;
}
.cols{
    // text-align: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.theImg{
    height: 29vh;
    max-height: 300px;
    width: 53vw;
    padding-left: 2px;
    padding-right: 2px;
    margin-top:5px;
    object-fit: cover;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    // box-shadow: 0 -2px 5px grey;
    box-shadow: inset 0 0px 5px black;
}
}