<ion-content padding class="home">
  <ion-icon name="close" class="size" (click)="next()"></ion-icon>
  <button ion-button (click)="presentPopover()">
    <ion-icon name="more"></ion-icon>
  </button>

  <h1 id="head" align="center">Profile</h1>
  <div id="pic" align="center">
      <img [src]="url">
    <ion-card>
        <ion-item class="item item-trns text-center">
          <input type="file" (change)="insertpic($event)">
        </ion-item>
      </ion-card>
  </div>
  <ion-list class="list" >
    <ion-item *ngFor="let item of obj">
        <ion-fab right>
            <ion-icon id="icon2" name="brush"></ion-icon>
          </ion-fab>
          <p>
            Name:{{item.name}}
          </p>
          <p>Email: {{item.email}}
          </p>
          <p>Instagram: 
          </p>
          <p>Facebook:
          </p>
        </ion-item>
  </ion-list>
    <ion-icon name="add" (click)="upload()"></ion-icon>
    <button ion-button (click)="retreivePics()">My gallery</button>

  <ion-list>
    <ion-item *ngFor="let a of list">
        <img [src]="a.downloadurl">
      <h2>{{a.name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>