<ion-header transparent #head>
  <ion-navbar color="secondary">
    <ion-buttons end>
      <button class="threeButton" ion-button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-fab bottom right>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div class="head" id="top">
    <ion-grid *ngFor="let item of obj">
      <ion-row>
        <ion-col col-5 *ngFor="let a of obj">
          <div class="profile-picture">
            <img class="DP" [src]="a.downloadurl" alt="">
          </div>
        </ion-col>
        <ion-col>
          <p>Sithembiso Leonard Luvuno</p>
          <p>Photographer</p>
          <p>spaz@gmail.com</p>
          <p>0813917127</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngFor="let item of obj">
    <div class="bio" padding>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea possimus vitae dolores numquam veniam ab, quis magnam quod ut
    alias. Molestias saepe ex magnam dicta unde? Explicabo molestiae sunt consequuntur!
    </div>
  </div>
</ion-content>