
  <ion-header transparent>
      <ion-toolbar color="secondary" >
          <ion-buttons end>
              <button ion-button clear  (click)="nextpage1()"><ion-icon name="arrow-back"></ion-icon></button>
              <button ion-button (click)="logout()">logout</button>
            </ion-buttons>
      </ion-toolbar>
    </ion-header>
  <ion-content class="home">
    <div class="head">
      <br>
      <div id="pic" align="center">
        <div class="photo">
          <div class="dp">
            <div *ngFor="let a of obj">
              <img class="m"  [src]="a.downloadurl">
            </div>
          </div>
        </div>
      </div>
      <div class="list">
        <div *ngFor="let item of obj">
          <ion-grid>
            <ion-row>
              <ion-col>
              
                  <ion-buttons class="size" >
                    {{item.name}}
                      <button ion-button icon-only clear (click)="EditProfile()"><ion-icon clear ios="ios-create" md="md-create"></ion-icon></button>
                  </ion-buttons>
              
                
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="social">
            <ion-grid>
              <ion-row class="outline">
                <ion-col>
                  <b>Instagram</b>
                  : {{item.twitter}}</ion-col>
              </ion-row>
              <ion-row class="outline">
                <ion-col>
                  <b>Facebook</b>
                  : {{item.facebook}}</ion-col>
              </ion-row>
              <ion-row class="outline">
                <ion-col>
                  <b>Twitter</b>: {{item.instagram}}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
    <div class="split">
      <ion-grid>
        <ion-row id="divider">
          <ion-col id="divider">Uploads</ion-col>
          <ion-col id="divider" align="right">
            <button ion-button icon-only color="primary" class="btnIcon" (click)="upload()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </div>
    <div class="contents">
      <ion-grid>
        <ion-row class="gal">
          <ion-col *ngFor="let b of list" col-6>
            <img class="image" [src]="b.downloadurl" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </div>
  </ion-content>