page-signup {
    animation: 750ms fadeIn;
    .backBTN{
        z-index: 1;
    }
    .container{
        background: linear-gradient(#010e1fb2,#010e1f),
        url('../../assets/imgs/BG.jpg')
        ;
        background-position: bottom;
        // background-size:cover;
        
    }
    .everything{
        // border: 2px solid red;
        padding-top: 10%;
        transform: translateY(-5%);
        // background: green;
        height: 80%;
        z-index: -1;
        max-width:550;
    }
    img{
        height: 30vh;
    }
    .logo{
        // margin-bottom: 30px;
        text-align: center;
    }
    .items{
        // background: white;
        // top: 10vh;
        width: 95%;
        margin: 0 auto;
        border-radius: 10px;
        max-width:550;
        // box-shadow: 0 2px 5px grey;
        color: white;
    }
    .signUp{
        margin-top: 80px;
        position: absolute;
        
    }
    ion-list{
        max-width:550;
    }
    ion-input{
        background: rgba(0, 0, 0, 0);
        border-bottom: 1px solid #fab335;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        transition: 300ms;
    }
    ion-input:active{
        background: rgba(0, 0, 0, 0);
        border-bottom: 1px solid white;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .textFields{
        // top: 10vh;
        width: 90%;
        max-width: 450px;
        // border: 2px solid red;
        margin: 0 auto;
        
    }
    #button{
        width: 90%;
        max-width: 450px;
        margin: 0 auto;
        height: 30px;
        color: #323787;
    }
    .forgot{
        color:#fab335;
        // position: absolute;
        padding-left: 20px;
    }
}