page-upload-image {
    div.scroll-content{
        // background: linear-gradient(rgb(1, 15, 41),rgb(1, 15, 41));
        display: block;
    }
   
    .card-background-page {
        padding-left: 8vw;
        // top: 7%;
        ion-card {
            
            position: relative;
            background-color: transparent;
            margin: 0%;
          text-align: center;
          height: 30vh;
          width: 75vw;
        }
        img{
            height: 30vh;
            width: 75vw; 
        }
      label{
          top:83%;
          left: 88%;
          font-size: 5vh;
          text-shadow: 0 0 1px white;
          position: absolute;
          margin: 0%;
          color: rgb(8, 39, 75);
                 width: 3vw;     
      }
       
      }
  
    @media screen and (min-width: 360px){
        @media screen and (max-width: 640px ){
            .fab{ 
                background-color: transparent;
                ion-icon{
                    color: white;
                    font-size: 220%;
                    font-weight: bolder;
                }
            }
            #file{
               margin: 0%;
               font-size: 80%;
               text-align: right;
               margin-left: 22%;
               background-color: transparent;
             color: white;
           }
            .preview{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
           
               img{
                   width: 55vw;
                   margin-top: 2vh;
                   margin-right: 13.5vw;
                   box-shadow: 0 0 1px #010e1f;
                   background-image: url('../../assets/art/sk.jpg');
                   background-size: cover;
               }
               label{
                   color: rgb(206, 205, 205);
                   background: linear-gradient(#dfab53,#010e1fd0);
                   width: 55vw;
               text-align: center;
               }
            }
            .buttoon{
               background: linear-gradient(#dfab53,#010e1fd0);
               width: 150px;
               text-align: center;
            }
            .section{
                // position: fixed;
               padding: 5%;
               margin: 2%;
               margin-top:3vh;
               ion-label{
                   color: rgb(231, 161, 68);
               }
               ion-select{
                   color: aliceblue;
               }
               ion-item{
                box-shadow: 0 0 2px black;
                // background: linear-gradient(rgb(8, 39, 75),rgba(1, 20, 41, 0.89));
                // background-color: #010e1f;
            }
            ion-textarea{
                // background: linear-gradient(rgb(8, 39, 75),rgba(1, 20, 41, 0.89));
                box-shadow: 0 0 2px black;
                // background-color: #010e1f;
                color: aliceblue;
            }
           
               input{
                   color: aliceblue;
               }
            }
            .btn{
                border-radius: 5px;
            }   
        }
    }
    @media screen and (min-width: 411px){
        @media screen and (max-width: 731px ){
            // div.scroll-content{
            //     background: linear-gradient(#420538,#010e1fbb);
            // }
            .fab{ 
                background-color: transparent;
                ion-icon{
                    color: white;
                    font-size: 220%;
                    font-weight: bolder;
                }
            }
            .preview{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
           
               img{
                   margin-left: 13.5vw;
                   width: 55vw;
                   margin-top: 2vh;
                   box-shadow: 0 0 1px #010e1f;
                   background-image: url('../../assets/art/sk.jpg');
                   background-size: cover;
               }
               label{
                   color: rgb(206, 205, 205);
                   background: linear-gradient(#dfab53,#010e1fd0);
                   width: 55vw;
               text-align: center;
               }
            }
            .section{
                // position: fixed;
               padding: 5%;
               margin: 2%;
               margin-top:3vh;
               ion-label{
                   color: rgb(231, 161, 68);
               }
               ion-select{
                   color: aliceblue;
               }
               ion-item{
                box-shadow: 0 0 2px black;
                // background: linear-gradient(rgb(8, 39, 75),rgba(1, 20, 41, 0.89));
                // background-color: #010e1f;
            }
            ion-textarea{
                // background: linear-gradient(rgb(8, 39, 75),rgba(1, 20, 41, 0.89));
                box-shadow: 0 0 2px black;
                // background-color: #010e1f;
                color: aliceblue;
            }
           
               input{
                   color: aliceblue;
               }
            }
            .btn{
                border-radius: 5px;
            }
        }
    }
    @media screen and (min-width: 320px){
        @media screen and (max-width: 640px ){
            .fab{ 
                background-color: transparent;
                ion-icon{
                    color: white;
                    font-size: 220%;
                    font-weight: bolder;
                }
            }
            #file{
               margin: 0%;
               font-size: 80%;
               text-align: right;
               margin-left: 22%;
               background-color: transparent;
             color: white;
           }
            .preview{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
           
               img{
                   width: 55vw;
                   margin-top: 2vh;
                   box-shadow: 0 0 1px #010e1f;
                   background-image: url('../../assets/art/sk.jpg');
                   background-size: cover;
               }
               label{
                   color: rgb(206, 205, 205);
                   background: linear-gradient(#dfab53,#010e1fd0);
                   width: 55vw;
               text-align: center;
               }
            }
            .buttoon{
               background: linear-gradient(#dfab53,#010e1fd0);
               width: 150px;
               text-align: center;
            }
            .section{
                // position: fixed;
               padding: 5%;
               margin: 2%;
               margin-top:3vh;
               ion-label{
                   color: white;
               }
               ion-select{
                   color: white;
               }
               ion-item{
                   margin: 0%;
                   box-shadow:inset 0 0 3px white;
                   background: linear-gradient(rgb(0, 21, 44));
                //    border-top-left-radius: 50px;
                //    border-top-right-radius:50px;
                //    border-bottom-right-radius:50px;
                //    border-bottom-left-radius: 50px;
            }
            ion-textarea{
                margin: 0%;
                background: linear-gradient(rgb(0, 21, 44));
                box-shadow: 0 0 3px white;
                // background-color: #010e1f;
                color: white;
            }
           
               input{
                   color: white;
               }
            }
            .btn{
                border-radius: 5px;
            }
        }
    }
    @media screen and (min-width: 640px){
        @media screen and (max-width: 1100px ){
            .fab{ 
                background-color: transparent;
                ion-icon{
                    color: white;
                    font-size: 220%;
                    font-weight: bolder;
                }
            }
            #file{
               margin: 0%;
               font-size: 80%;
               text-align: right;
               margin-left: 22%;
               background-color: transparent;
             color: white;
           }
           .card-background-page {
            padding-left: 11vw;
            ion-card {
                // margin-left: 10%;
                position: relative;
                background-color: transparent;
                margin: 0%;
              text-align: center;
              height: 40vh;
              width: 75vw;
            }
            img{
                height: 40vh;
                width: 75vw; 
            }
          label{
              top: 86%;
              left: 88%;
              position: absolute;
              margin: 0%;
              font-size: 5.5vh;
              color: rgb(0, 21, 44);
                             
                     width: 10vw;
                     height: 3vh;
                     text-shadow: 0 0 1px white;
                    // height: 7vh;      
          }
        }
           
            .buttoon{
               background: linear-gradient(#dfab53,#010e1fd0);
               width: 150px;
               text-align: center;
            }
            .section{
               padding: 5%;
               margin: 2%;
               margin-top:6vh;
               width: 70vw;
               margin-left: 13.5vw;
            //    height: 20vh;
               ion-label{
                   color: white;
                   font-weight: bolder;
                //    color: rgb(231, 161, 68);
                //    height: 3vh;
                font-size: 2vh;
               }
               ion-select{
                   color: white;
                   font-weight: bolder;
                   font-size: 2vh;
                //    height: 2vh;
               }
               ion-item{

                   margin: 0%;
                height: 7vh;
                   box-shadow:inset 0 0 2px white;
                   background: linear-gradient(rgb(0, 21, 44));
                // border-top-left-radius: 50px;
                // border-top-right-radius:50px;
                // border-bottom-right-radius:50px;
                // border-bottom-left-radius: 50px;
               }
               ion-textarea{
                margin: 0%;
                font-size: 2vh;
                height: 9vh;
                   box-shadow:inset 0 0 2px white;
                   background: linear-gradient(rgb(0, 21, 44));
                   color: white;
               }
           
               input{
                   color: white;
                   font-size: 2vh;
               }
            }
            .btn{
                // margin: 2%;
                border-radius: 5px;
                width: 60vw;
                margin-left: 18.5vw;
                font-size: 2vh;
                
            }
        }
    }
}