page-upload-image {
    ion-input{
        // border: 1px solid rgb(0,78,66);
}               
#in{   
    width: 100%; 
    height: 100%;                
}
    ion-textarea{
        border-top: 1px solid rgb(0,78,66);
        background: white;
        padding: 10px;
        }
    .texts{
        background: white;
    }
    .container{
        background: rgb(0,78,66);
    }
    .uploaded{
        width: 150px;
        height:  150px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.596);
    }
    .head{
        // border: 2px solid red;
    }
    .inp{
        opacity: 1;
        width: 30px;
        // position: absolute;
        // border: 2px solid red;
    }
    .inpe{
        display: none;
    }
    @media screen and (min-width: 350px){
           @media screen and (max-width: 380px){
 
                .preview{
                    width: 150px;
                    height:  150px;
                    margin: 0 auto;
                    position: relative;
                    // border: 2px solid red;
                }
                .buttoon{
                    font-size: 20px;
                    position: absolute;
                    background: rgb(42,165,153);
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    border-radius: 50px;
                    // margin-top: -35px;
                    top:29%;
                    left: 60%;
                    z-index: 1;
                    transform: translateY(-30%);
                    color:white;
                    box-shadow: 0px 1px 5px black;
                    transition: 300ms
                }
                .buttoon:active{
                    font-size: 20px;
                    position: absolute;
                    background: rgb(0,78,66);
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    border-radius: 50px;
                    // margin-top: -35px;
                    top:29%;
                    left: 60%;
                    z-index: 1;
                    transform: translateY(-30%);
                    color:white;
                    box-shadow: 0px 1px 5px black;
                }
                #ico{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%)
                }
        }
    }
    @media screen and (min-width: 300px){
        @media screen and (max-width: 349px){
        }
    }
}